*{
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
}


.logo{
  margin-left: 400px;
  justify-content: center;
  
  

}

.My-balance{ 
  background: #ec755d;
  display: flex;
  width: 900px;
  border-radius: 20px;
  width: 640px;
}


.graph-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}


.graph-bar-container-monday .bar {
  background-color:#ec755d; /* Example color for Monday */
}

.graph-bar-container-tuesday .bar {
  background-color:#ec755d; /* Example color for Tuesday */
}

.graph-bar-container-wednesday .bar {
  background-color:cadetblue;
  /* Example color for Wednesday */
  height: 70px;
}

.graph-bar-container-thursday .bar {
  background-color:#ec755d; /* Example color for Thursday */
}

.graph-bar-container-friday .bar {
  background-color:#ec755d; /* Example color for Friday */
}

.graph-bar-container-saturday .bar {
  background-color:#ec755d; /* Example color for Saturday */
}

.graph-bar-container-sunday .bar {
  background-color:#ec755d; /* Example color for Sunday */
}


.bar {
  width: 50px;
  min-height: 90px;
  border-radius: 0.3rem;
}

.graph-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
h1{
  margin-bottom: 20px;
}

.main-container{
  display: flex;
  justify-content: center;
}
.nav{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 50px;
}